body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.wrap, .cart-title {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  
}
.cart-total{
  justify-content: flex-end;
  align-self:flex-end;
  margin-right: 130px;
}
.trips {
  flex: 2;
}
.trips-images{
  width: 20em;
  height: 28em;
}
.main-img{
  width: 100%;
  height: 700px;
  padding: 0;
  margin: 0;
}
.logo{
  width: 10px;
  height: 20px;
  margin: 10px 10px 45px 20px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-1{
  text-align: right;
  margin-top: -55px;
}

.search{
  justify-content: flex-start ;
  margin-right: 63%;
}
.no-match{
  font-size: 2em;
}
#cart-img{
  width: 30px;
}
.login{
  margin-left: -80px;
  color: #0d0e0d;
}
.login:hover{
  color: rgb(148, 144, 144);
}
.auth{
  display: inline-block;
    text-align: center;
    margin-left: 35%;
    margin-top: 40px;
}
/* .main-img{
 
} */
.nav-btn:link {
  color: black;
}
.nav-btn:visited {
  color: black;
}

.nav-btn:hover{
  color: rgb(148, 144, 144);
}

.sidenav{
  flex-shrink: 0;
}

/* Buttons */
.create-trip-btn, .add-to-cart-btn, .login-btn, .checkout{
  border: 1px solid rgb(238, 221, 186);
  color: #0d0e0d;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
 
.add-to-cart-btn:hover {
  background:rgb(238, 221, 186);
}
.create-trip-btn:hover {
  background:rgb(238, 221, 186);
}
.login-btn:hover {
  background:rgb(238, 221, 186);
}
.checkout:hover {
  background:rgb(238, 221, 186);
}
/* .nav-panel{
  background-color: #eee;
} */

/* HOMEPAGE */
/* HEADER */
header.home-welcome {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-image: url("/images/photo-1494137319847-a9592a0e73ed.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.home-welcome-content {
  z-index: 1;
  position: relative;
}

.home-welcome-title{
  font-size: 85px;
  color: rgb(238, 221, 186);
}

.home-welcome-message {
  font-size: 2rem;
  color: white;

}
/* margin: 0 */
.no-gutters {
  margin: 90px;  
  padding: 0;
}

.trip-info{
  font-size: 1.3rem;
}
.trips:link {
  color: black;
}
.trips:visited {
  color: black;
}
.trips:hover{
    color: rgb(148, 144, 144);
    text-decoration: none;
}
.featured-quest-location{
  color: black;
}
.featured-quest-location:link {
  color: black;
}

.featured-quest-location:visited {
  color: black;
}
.featured-quest-location:hover{
  color: rgb(148, 144, 144);
  text-decoration: none;
}

.featured-quest-price{
  color: black;
}
.featured-quest-price:link {
  color: black;
}
.featured-quest-price:visited {
  color: black;
}
.featured-quest-price:hover{
  color: rgb(148, 144, 144);
  text-decoration: none;
}

ul{
  color: black;
}
.sidebar-category{
  margin-bottom: 40px;
}
.sidebar-trips:hover{
  color: rgb(148, 144, 144);
  text-decoration: none;
}
.no-match{

}
/* FEATURED QUESTS */
/* add 2 last */
.featured-quests-title {
  text-align: center;
  margin-top: 30px;
  padding: 43px;
}


.featured-quest-img {
  max-width: 100%;
  height: auto;
}
.total{
  text-align: right;
  font-size: 1.3rem;
  margin: 20px 40px 20px 0px;
}

.react-bs-table {
  margin: 80px 20px 10px 25px;

}

.order-history{
  font-size: 1.3rem;
  margin-left: 40px;
}
.order-link:link {
  color: black;
  
}
.order-link:visited {
  color: black;
}

.order-link:hover{
  color: rgb(148, 144, 144);
  text-decoration: none;
}
.orders {
  margin: 30px;
}
.your-order{
  text-align: center;
}
.order-list{
  display: flex;
  margin: 40px;
  justify-content: space-around;
}
