body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.wrap, .cart-title {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.cart-total{
  justify-content: flex-end;
  align-self:flex-end;
  margin-right: 130px;
}
.trips {
  flex: 2;
}
.trips-images{
  width: 20em;
  height: 28em;
}
.main-img{
  width: 100%;
  height: 700px;
  padding: 0;
  margin: 0;
}
.logo{
  width: 10px;
  height: 20px;
  margin: 10px 10px 45px 10px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  justify-content: flex-start ;
  margin-right: 63%;
}
#cart-img{
  width: 30px;
}

/* .main-img{
 
} */
.nav-btn:link {
  color: black;
}
.nav-btn:visited {
  color: black;
}

.nav-btn:hover{
  color: rgb(148, 144, 144);
}

.sidenav{
  flex-shrink: 0;
}

/* Buttons */
.create-trip-btn, .add-to-cart-btn, .login-btn, .checkout{
  border: 1px solid rgb(238, 221, 186);
  color: #0d0e0d;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
 
.add-to-cart-btn:hover {
  background:rgb(238, 221, 186);
}
.create-trip-btn:hover {
  background:rgb(238, 221, 186);
}
.login-btn:hover {
  background:rgb(238, 221, 186);
}
.checkout:hover {
  background:rgb(238, 221, 186);
}
/* .nav-panel{
  background-color: #eee;
} */

/* HOMEPAGE */
/* HEADER */
header.home-welcome {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-image: url("/images/photo-1494137319847-a9592a0e73ed.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.home-welcome-content {
  z-index: 1;
  position: relative;
}

.home-welcome-title{
  font-size: 85px;
  color: rgb(238, 221, 186);
}

.home-welcome-message {
  font-size: 2rem;
  color: white;

}

.no-gutters {
  margin: 0;
  padding: 0;
}

/* FEATURED QUESTS */

.featured-quests-title {
  text-align: center;
}

.featured-quest-img {
  max-width: 100%;
  height: auto;

  .nav-item{
  text-align: right;
  margin-top: -20px;
}